<% include ../header%>
	<body>
		<script src="WebGL.js"></script>
		<script src="tween.min.js"></script>
		<script src="socket.io.js"></script>
		<script type="module"><%include Utility.js%><% include DrawUtility.js%><%include render.js%>	</script>
	</body>
<% include ../footer%>